// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// General Variables
$page-background: #F5FAFE;
$page-font: #313131;
$page-font-alt: #6C757D;
$page-light-grey: #ADB5BD;

$dashboard-title-colour: #4F5D75;
$dashboard-search-border-colour: #C7CED5;

$project-font-grey: #6C757D;
$project-background-grey: #F8F9FA;

$success-green: #0CD6A0;

// Custom Variables
$black: #000000;
$purple: #5E60CE;
$white: #FFFFFF;

$dark-blue: #4F5D75;

$light-blue: #F5FAFE;
$light-grey: #C1C1C1;

$neon-blue: #64DFDF;
$neon-green: #0CD6A0;

// Commercial Colours
$facebook-background: #3B5998;
$google-border: #D9DEE2;
